Repository rcmaples/create-turbo-sanity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(update deps): update deps
  pnpm-lock.yaml
Due: prettier --write

chore: updating package.jsons
  package.json
  packages/create-turbo-sanity/package.json
Due: prettier --write

fix(ci): convert commitlint config to json
  .commitlintrc.json
  commitlint.config.js
Due: eslint --fix, prettier --write

fix(ci): skip commit history validation for PRs
  .commitlintrc.json
  .github/workflows/ci.yml
Due: prettier --write

fix: resolve ESLint errors and React plugin warnings
  packages/create-turbo-sanity/.eslintignore
  packages/create-turbo-sanity/.eslintrc.js
  packages/create-turbo-sanity/index.js
  packages/create-turbo-sanity/src/sanity-utils.js
  packages/create-turbo-sanity/src/template-utils.js
  packages/create-turbo-sanity/templates/default/apps/web/app/(blog)/layout.tsx
  packages/create-turbo-sanity/test/cli.test.js
  packages/create-turbo-sanity/test/sanity-utils.test.js
  packages/create-turbo-sanity/test/template-utils.test.js
Due: eslint --fix, prettier --write

fix(ci): fixed failing test issues
  packages/create-turbo-sanity/src/sanity-utils.js
  packages/create-turbo-sanity/test/sanity-utils.test.js
  packages/create-turbo-sanity/test/setup.js
  packages/create-turbo-sanity/test/template-utils.test.js
  packages/create-turbo-sanity/test/utils.js
Due: eslint --fix, prettier --write

fix(ci): typo in release yaml
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

Notes added by 'git notes add'
  0fc7a5784e5bc9d0c338c931a9074e9fd42522fc
Due: none

feat: configure initial release as 0.1.0
  .releaserc.json
  CONTRIBUTING.md
  README.md
Due: prettier --write

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  eb5c993936a232b35366437da05803e971d9f8a1
Due: none

fix: correct GitHub URLs and update CI to use Node.js 22
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/create-turbo-sanity/package.json
Due: prettier --write

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

Notes added by 'git notes add'
  ca9b1c95460c55eb0f62ca6d1f78bd723967c06e
Due: none

chore: updates deps
  CLAUDE.md
  apps/studio/package.json
  apps/web/package.json
  package.json
  packages/create-turbo-sanity/package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

removing package locks
  packages/create-turbo-sanity/package-lock.json
  pnpm-lock.yaml
Due: prettier --write

updating all dependencies
  package.json
  packages/create-turbo-sanity/package.json
  packages/create-turbo-sanity/templates/default/apps/studio/package.json
  packages/create-turbo-sanity/templates/default/apps/web/package.json
  packages/create-turbo-sanity/templates/default/package.json
  packages/create-turbo-sanity/templates/default/packages/eslint-config/package.json
  packages/eslint-config/package.json
Due: prettier --write

chore: finalize all dep updates
  packages/create-turbo-sanity/templates/default/apps/studio/package.json
  packages/create-turbo-sanity/templates/default/package.json
  packages/create-turbo-sanity/templates/default/packages/eslint-config/package.json
  packages/create-turbo-sanity/templates/default/pnpm-lock.yaml
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(linterrors): fixed linting errors
  .commitlintrc.json
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .lintstagedrc.json
  .releaserc.json
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  packages/create-turbo-sanity/.eslintignore
  packages/create-turbo-sanity/.eslintrc.js
  packages/create-turbo-sanity/README.md
  packages/create-turbo-sanity/eslint.config.js
  packages/create-turbo-sanity/index.js
  packages/create-turbo-sanity/package.json
  packages/create-turbo-sanity/src/sanity-utils.js
  packages/create-turbo-sanity/src/template-utils.js
  packages/create-turbo-sanity/templates/default/README.md
  packages/create-turbo-sanity/templates/default/pnpm-lock.yaml
  packages/create-turbo-sanity/test/cli.test.js
  packages/create-turbo-sanity/test/sanity-utils.test.js
  packages/create-turbo-sanity/test/setup.js
  packages/create-turbo-sanity/test/template-utils.test.js
  packages/create-turbo-sanity/test/utils.js
  packages/create-turbo-sanity/vitest.config.js
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(release): 1.0.2 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

Notes added by 'git notes add'
  f1501259bcbe2ba76006fb6973e7659d8ca2c884
Due: none

fix(cli): downgrade ESM-only dependencies to CommonJS-compatible versions
  packages/create-turbo-sanity/package.json
  pnpm-lock.yaml
Due: prettier --write

Notes added by 'git notes add'
  ccf7baab66419d3d2e4d26f1516e9ecc302ed0c8
Due: none

chore(release): 1.0.3 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

fix(template): correct pnpm version from 10.26.3 to 10.26.1
  packages/create-turbo-sanity/templates/default/package.json
Due: prettier --write

chore(release): 1.0.4 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

Notes added by 'git notes add'
  c82da98bff439aa4966b93741c5975eb0eda52c7
Due: none

fix(template): update next-sanity and @sanity/image-url imports
  packages/create-turbo-sanity/templates/default/apps/web/app/(blog)/layout.tsx
  packages/create-turbo-sanity/templates/default/apps/web/lib/sanity/image.ts
  packages/create-turbo-sanity/templates/default/apps/web/lib/sanity/utils.ts
Due: eslint --fix, prettier --write

chore(release): 1.0.5 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

Notes added by 'git notes add'
  fbd3262a6df6267adfcf5d7a5b1e9294c294d592
Due: none

ci(config): add automation enhancements from singleton-management
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-auto-merge.yml
  .releaserc.json
  renovate.json
  vitest.config.ts
Due: eslint --fix, prettier --write

ci(release): configure npm OIDC trusted publishing
  .github/workflows/release.yml
Due: prettier --write

fix(release): remove registry-url that interferes with npm OIDC
  .github/workflows/release.yml
Due: prettier --write

fix: oidc for release workflow
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 1.0.6 [skip ci]
  CHANGELOG.md
  packages/create-turbo-sanity/package.json
Due: prettier --write

Notes added by 'git notes add'
  4fd7d869af6e0ecdce70eed816d15b516f917c2a
Due: none

fix(ci): add NPM_TOKEN to release workflow
  .github/workflows/release.yml
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: packages/create-turbo-sanity/**/*.js)
  prettier --write: (((any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: packages/create-turbo-sanity/**/*.js)) or (any of: *.md)
